thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.fr-view table {
    empty-cells: show;
    max-width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #e3e3e6;
    background: #f5f5f7;
    text-align: left;
    display: table;
    border-color: rgb(55, 60, 62);
    background-image: initial;
    background-color: rgb(29, 32, 33);
    
}

th {
    display: table-cell;
    vertical-align: inherit;
    border-width: 1px;
    border-style: solid;
    color: rgb(168, 160, 149);
    background-image: initial;
    background-color: rgb(35, 38, 39);
}

td {
    display: table-cell;
    vertical-align: inherit;
    border-width: 1px;
    border-style: solid;
}

table tr td {
    color: rgb(168, 160, 149);
    border-bottom-color: rgb(55, 60, 62);
    border-left-color: rgb(55, 60, 62);
}